<div class="p-5">
    <div class="d-flex justify-content-between align-items-center gap-3">
        <h2> Dispositivos de {{ nombreCliente }} </h2>
        <a type="button" class="nuevo" (click)="onVincularDispositivo()"> <mat-icon svgIcon="icon_plus"></mat-icon> </a>
    </div>

    <table class="table mt-3">
        <thead class="table-dark">
            <tr>
                <th> ID </th>
                <th> Nombres </th>
                <th> Contrato </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let d of dispositivos">
                <tr>
                    <td> {{ d.idDispositivo }} </td>
                    <td> {{ d.nombre }} </td>
                    <td> C-{{ d.idContrato }} </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
