<!-- <img src="assets/img/mision.png" alt=""> -->
 <div class="h-100">
    <div class="container_2">
        <h1>Misión</h1>
        <div class="content">
            <p>Diseñar soluciones de seguridad, control y automatización de la mano de nuestros clientes para beneficio de sus procesos y la tranquilidad de sus integrantes.</p>
        </div>
    </div>
    
    <div class="container_2">
        <h1>Visión</h1>
        <div class="content">
            <p>Ser reconocidos a nivel nacional como líderes en soluciones de seguridad electrónica, control industrial, diseño e ingeniería, siendo la elección preferida para empresas y comunidades que buscan seguridad y tecnología avanzada.</p>
        </div>
    </div>
 </div>
