a {
    background: var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    color: #252525;
}

a.btn-accion {
    padding: 5px 10px;
}

li {
    display: flex;
    justify-content: start;
    align-items: center;
}

td {
    vertical-align: middle;
}